body {
  padding: 50px;
  font: 15px/150% "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
  color: #666;
  background: #fcfcfc;
}
input,
textarea,
button {
  font: inherit;
}

.home-list {
  list-style: none;
  text-indent: 0;
  padding: 0;
}
.home-item {
  padding: 0.5em;
}
.home-done {
  text-decoration: line-through;
  font-style: italic;
  color: #999;
}

.customer-item {
  padding: 0.5em;
}
.myGrid {
  width: 450px;
  height: 300px;
}

.todo-list {
  list-style: none;
  text-indent: 0;
  padding: 0;
}
.todo-item {
  padding: 0.5em;
}
.todo-done {
  text-decoration: line-through;
  font-style: italic;
  color: #999;
}
